<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<nav class="navbar navbar-dark bg-dark">
  <!-- Navbar content -->
  <a class="navbar-brand" href="#">JDM</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <!-- <span class="navbar-toggler-icon"></span> -->
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <!-- <a class="nav-link" href="#"> <span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"></a>
      </li>
    </ul>
  </div>
</nav>

<p></p>
<!-- <form action=""><input type="search"><i class="fa fa-search"></i></form> -->

<div class="global">
<!--  <div class="card border-dark mb-3" style="width: auto;">-->
<!--  <form action="">-->
<!--    <input type="text" name="searchWord" (input)="updateData($event.target.value)"-->
<!--    (keyup.enter)="requestJDM($event.target.value)">-->
<!--    <i class="fa fa-search"  (click)="requestJDM(form.value)"></i>-->

<!--  </form>-->
  <div class="card">
  <div class="card-header text-white bg-secondary mb-3">
    Recherche de Mot
  </div>
  <div class="card-body">
  <div class="forms">
    <div class="template-driven-form">
      <form #form="ngForm" (ngSubmit)="submitTemplateForm(form.value)">
        <div class="container">
          <div class="ng-autocomplete">
            <ng-autocomplete #ngAutoCompleteStatic
                             [data]="data"
                             name="name"
                             (inputChanged)='updateData(form.value)'
                             [(ngModel)]="name"
                             [initialValue]=""
                             [placeholder]="placeholder"
                             [searchKeyword]="keyword"
                             historyIdentifier="countriesTemplateList"
                             [historyHeading]="historyHeading"
                             historyListMaxNumber="3"
                             notFoundText="Not found"
                             [itemTemplate]="itemTemplateStatic"
                             [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>

            <ng-template #itemTemplateStatic let-item>
              <a [innerHTML]="item"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
          <button class="btn2 btn-outline-dark" type="submit" (click)="requestJDM(form.value)" >Search</button>
        </div>
      </form>
    </div>
  </div>
</div>
  </div>
  <!--  </div>-->
    <button type="button" class="btn btn-outline-dark" (click)="printRelation()"
            style="width:25%;display: inline-flex;margin-top:25px;">Choix des Relations</button>
    <!-- <span(click)="printRelation()">choix des relations</span> -->
    <div class="dispaly-relation" *ngIf="prel">
      <div class="card card-body" style="width: 18rem;display: inline-flex;" *ngFor="let relations of relationList">
        <input type="checkbox" (check)="queryBuilder(relations[0])" >
        <div  type="button" class="btn btn-outline-dark" (click)="choiceRelation(relations[1])">
          {{relations[1]}}
<!--          <span class="tooltiptext1"> {{relations[2]}}</span>-->
        </div>
      </div>
    </div>
  <div class="card" *ngIf="resjdm">
    <div class="card-header text-white bg-dark mb-3" >
      Definition
    </div>
<!--    <div class="card-body">-->
<!--    <span class="btn btn-dark" type="button" * style="margin-top:50px;margin-bottom:25px;">-->
<!--      Définitions-->
<!--    </span>-->
    <div class="affiche-def">
      <div class="card text-white bg-secondary mb-3" style="max-width: 66rem;" *ngFor="let el of defintions">
          <div class="card-body">
            <p class="card-text">{{el}}</p>
          </div>
    </div>
      <!-- <span *ngIf="prel" > Synomimes</span> -->
      <div class="card card-body" style="width: 50rem;" *ngFor="let el of synom">
        {{el}}
        </div>
    </div>
<!--    </div>-->
  </div>
  <div *ngIf="resjdm" >
    <span class="btn btn-dark" type="button" (click)="collapsing()" style="margin-top:5px;margin-bottom:25px;width:100%; ">
      Relation entrante
    </span>
    <div class="affiche-def" *ngIf="!selected">
      <div class="card card-body  bg-secondary mb-3" style="max-width:18rem;display: inline-flex;" *ngFor="let in of inbounds.slice(lowerBound,upperBound)">
        <div class="tooltip1">
          {{in.rtype }} , Poids :{{in.weight}}Mo<span class="tooltiptext1"> {{ findDefinition(in.rtype) }}</span>
        </div>
      </div>
    </div>
    <div class="affiche-def" *ngIf="selected">
      <div class="card card-body  bg-secondary mb-3" style="max-width:18rem;display: inline-flex;" *ngFor="let in of SelectInbounds.slice(0,10)">
        <div class="tooltip1">
          {{in.rtype }} , Poids :{{in.weight}}Mo<span class="tooltiptext1"> {{ findDefinition(in.rtype) }}</span>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="resjdm" >
    <span class="btn btn-dark" type="button" click="collapsing()" style="margin-top:5px;margin-bottom:25px;width:100%; ">
      Relation sortante
    </span>
    <div class="affiche-def" *ngIf="!selected">

      <div class="card card-body  bg-secondary mb-3" style="max-width:18rem;display: inline-flex;" *ngFor="let in of outgoing.slice(lowerBound,upperBound)">
        <div class="tooltip1">
          {{in.rtype }}, Poids : {{in.weight}}ko<span class="tooltiptext1"> {{ findDefinition(in.rtype) }}</span>
        </div>
      </div>
    </div>

    <div class="affiche-def" *ngIf="selected">

      <div class="card card-body  bg-secondary mb-3" style="max-width:18rem;display: inline-flex;" *ngFor="let in of SelectOutgoing.slice(0,10)">
        <div class="tooltip1">
          {{in.rtype }}, Poids : {{in.weight}}ko<span class="tooltiptext1"> {{ findDefinition(in.rtype) }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
