.global{
  margin: auto;
 display: flex;
 flex-direction: column;
  padding-top: 40px;
  position: center;
}
.dispaly-relation{
  max-width: auto;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom:24px;

}
.card {
  /*display: inline-flex;*/
  position: revert;
}

.affiche-def {
    max-width: auto;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom:24px;

}

/* ToolTip classses */
.tooltip1 {
  display: inline-flex;
  flex-direction: column;
}

.tooltip1 .tooltiptext1 {
  margin-left: 9px;
  width: 320px;
  visibility: hidden;
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #aeaeae;
  position: absolute;
  z-index: 1;
  padding: 5px;
  margin-top: -15px;
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltip1 .tooltiptext1::after {
  content: " ";
  position: absolute;
  top: 5%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #aeaeae transparent transparent;
}

.tooltip1:hover .tooltiptext1 {
  visibility: visible;
  opacity: 1;
}

.table th{
  max-width: 120px;
}

.table td {
  min-width: 100px;
}

table{
  border: 3px solid #cccccc;
}

 tr{
   max-width: 200px;
 }


body {
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background: #07051a;
}

form{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: white;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid white;
    padding: 5px;
}

input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;;
    height: 42.5px;
    line-height: 30px;
    outline: 0;
    border: 10;
    display: none;
    font-size: 1em;
    border-radius: 20px;
    padding: 0 20px;
}

.fa{
    box-sizing: border-box;
    padding: 10px;
    width: 42.5px;
    height: 42.5px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    color: #07051a;
    text-align: center;
    font-size: 1.2em;
    transition: all 1s;
}

form:hover{
    width: 200px;
    cursor: pointer;
}

form:hover input{
    display: block;
}

form:hover .fa{
    background: #07051a;
    color: white;
}

.container {
  display: flex;
  width: 400px;
  position: center;
  margin-left: -180px;
}

.ng-autocomplete {
  width:100%;
  max-width: 600px;
  /*display: table;*/
  /*margin: 0 auto;*/
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  line-height: 45px;
  height: 45px;
  padding: 0 16px;
  text-align: left;
  max-width: 100%;
  box-sizing: border-box;
  z-index: 200;
}

.input-container input{
  /*max-width: 655px;*/
  width: 600px;
}
span {
  margin-left: 5px;
}
.btn2 {
  /*background-color: #3f51b5;*/
  border: none;
  color: white;
  padding: 8px 22px;
  margin: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  outline: none;
}
.btn2:disable {
  background-color: dimgray;
}

.btn:active {
  background-color: black;
}
