<div class="component">
  <ul class="align">
    <li>
      <figure class='book'>

        <!-- Front -->

        <ul class='hardcover_front'>
          <li>
            <div class="coverDesign blue">
              <h1>jeuxdemots</h1>
              <p>Dictionnaire</p>
            </div>
          </li>
          <li></li>
        </ul>

        <!-- Pages -->

        <ul class='page'>
          <li></li>
          <li>
            <a class="btn" routerLink="/searchPage" routerLinkActive="active">Accéder</a>
          </li>
          <li></li>
          <li></li>
          <li></li>
        </ul>

        <!-- Back -->

        <ul class='hardcover_back'>
          <li></li>
          <li></li>
        </ul>
        <ul class='book_spine'>
          <li></li>
          <li></li>
        </ul>
        <figcaption>
          <h1>LeSoubag.com</h1>
          <span>By Ismaël SAÏ et Amara DIABATÉ</span>
          <p>Moteur de recherche pour jeuxdemots.org</p>
        </figcaption>
      </figure>
    </li>
  </ul>
</div>